html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #484f57;
    scroll-behavior: smooth;
}

body {
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    background-color: #cfdae4;
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid rgb(49, 49, 49);
    outline-width: 10px;
    display: flex;

    position: fixed;
    top: 0;

}
.logo-container {
    display: flex;
    width: 15%;
    margin-left : 15%;
    background-color: #E9ECEF;
    justify-content: center;
    > p {
        font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size : 20px;
    }
}
#logo {
    font-size: 14px;
    align-self: center;
    margin: 2px;
    height: 3.7rem;
    width: auto;
}
.navbar-buttons {
    justify-content: space-evenly;
    /* background-color: gold; */
    height: auto;
    margin: 0;
    margin-bottom: 0;
    margin-right: 15%;
    margin-left: auto;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.navbar-buttons li {
    /* background-color : blue; */
    /* color: yellow; */
    width: 11%;
    margin-right: 10px;
    margin-left: 10px;
    /* margin-top : auto; */
    display: block;
    text-align: center;
}

.button {
    /* background-color: #04AA6D; Green */
    display: inline-block;

    font-family: Helvetica, sans-serif;
    color: black;
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    /* padding-top : 10px; */
    /* padding-bottom : auto; */
    height: 4rem;
    width: 10rem;
    line-height: 4rem;
    border: none;

    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: #898D97;
    border-bottom: rgb(49, 49, 49) 2px solid;
    box-sizing: padding-box;
    padding-top: 30px;
    line-height: 3rem;

    p {
        transform: translate(0, 20px);
    }
}


main {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15%;
    margin-left: 15%;
    background-image: url(img/Sprinkle.svg);
}

.filler {
    background-image: url(img/Sprinkle.svg);
}

.background-image {
    background-image: url(img/Sprinkle.svg);
}

.ending {
    background-color : gray;
    margin-right : 50%;
    margin-left : 5%;
}

#Home {
    height : 90rem;
    div.name h1 {
        font-size: 75px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color : rgba(0, 0, 0);
        margin-top: 2rem;
        margin-bottom: 5px;
        font-stretch: 150%;
        text-align: center;
        background-color : rgba(255, 255, 255, 0.392);
    }
    .banner {
        display: flex;
        width: 90%;
        height: auto;
        justify-self: center;
        border : 3px black outset;
        border-radius : 30px 8px 30px 8px;
    }
    > p {
        font-family: Cambria, Cochin, Georgia, Times, serif;
        font-size : 40px;
        color : #F8F9FA;
        background-color : rgba(41, 41, 41, 0.685);
        margin-right : 10%;
        margin-left : 10%;
        text-align : center;

        border : 1px black solid;
        border-radius : 16px 0px 16px 0px;
    }
}

#Products {
    text-align : center;
    div.container {
        h2 {
            font-size : 70px;
            font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-bottom : 10px;
            margin-top : 20px;
            background-color : rgba(255, 255, 255, 0.392);
        }
        img {
            width : 95%;
            height : auto;
            border-radius : 8px 8px 8px 8px;
        }
        > p {
            text-align: left;
            font-size : 30px;
            margin-bottom : 1rem;
            margin-top : 0;

            padding-left : 50px;
            background: rgba(128, 128, 128, 0.453);
        };
    }

    #Products-list {
        width : 90%;
        display : flex;
        flex-wrap : wrap;
        justify-self: center;;
        justify-content: center;
        /* height : 590px; */
        margin-top : auto;
        margin-bottom : 10%;
        article {
            background-color :#afb3be;
            h3 {
                justify-self: center;
                font-size : 20px;
                font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-bottom : 0px;
            }
            width : 28%;
            margin : 20px;
            border : 2px black solid;
            border-radius : 8px 8px 8px 8px;
            figure {
                margin-left : 20px;
                margin-right : 20px;
                text-align: center;
                img {
                    width : 80%;
                    height : 80%;
                    border-radius : 8px 8px 8px 8px;
                    border : 3px black dotted;
                }
                figcaption {
                    font-size : 18px;
                }
            }
            p {
                font-size : 23px;
                margin-left : 20px;
                margin-right : 20px;
                padding-left : 0;
                background: rgba(255, 255, 255, 0);
                text-align: start;
            }
        }
    }
}

#Contacts {
    background-color : rgba(139, 139, 139, 0.699);
    margin-left : 0%;
    margin-right : 0%;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size : 18px;
    height : auto;
    padding-top : 1rem;
    padding-bottom : 5rem;
    article {
        /* background-color: yellow; */
        color : rgb(32, 32, 56);
        figure {
            float : right;
            margin-top : 0px;
            margin-left : 5px;
            margin-right : 10rem;
            img {
                width : 40rem;
                height : auto;
            };
            figcaption {
                justify-self: center;
                font-size : 14px;
            }

        }
        h3 {
            font-size : 45px;
            margin-top : 40px;
            margin-bottom :20px;
            margin-right : 5%;
            margin-left : 5%;
        };

        h4 {
            font-size : 35px;
            margin-top : 40px;
            margin-bottom :0px;
            margin-right : 5%;
        }

        section p {
            font-size : 25px;
            margin-top : 0px;
            margin-bottom : 0;
            margin-left : 2%;
        };

        ul {
            margin-top : 0px;
            li {
                font-size : 25px;
            }
        }

        > div {
            margin-left : 10%;
        }

    }
}


